@media (max-width: 991px) {

    /* navbar */
    .responsive-mt {
        margin-top: 0.9rem;
    }

    .responsive-nav-flex {
        flex-direction: column;
    }
}

.container {
    background-color: rgb(238, 238, 238);
}

#imgLogo {
    width: 80px;
    margin-right: auto;
    border-radius: 50%;
}

.navbar>.container-fluid {
    background-color: #0f0d35;
    border: 1px solid #f2cc0f;
    margin-bottom: -10px;
    margin-top: -10px;
}

.navbar-expand-lg .navbar-nav .nav-link {
    color: #0d6efd;
}

.d-flex {
    color: #0d6efd;
}

.pagetitle {
    text-align: center;
    margin: 10px;
    color: #f4bb8a;
    font-weight: 400;
    text-shadow: 2px 2px 5px #0d6efd;
}

.middletitle {
    margin: 10px 10px 20px 10px;
    color: #f4bb8a;
    font-weight: 600;
    text-shadow: 2px 2px 5px #090d14;
}

#currentImgInPopup {
    width: 250px;
    height: 250px;
}

.btn-info {
    background-color: #7d80c7;
    border-color: #090d14;
}

.btn-info:hover {
    background-color: #5054ca;
}

.popup-wrapper {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgb(59, 56, 56);
    top: 0;
    left: 0;
    color: black;
}

.popup-wrapper div div {
    width: 100%;
}

@media (max-width: 991px) {
    .responsive-mt {
        margin-top: 0.9rem;
    }

    .responsive-nav-flex {
        flex-direction: column;
    }
}