#toast {
    position: absolute;
    /* width: 30rem; */
    /* height: 3rem; */
    left: 1rem;
    border-radius: 0.3rem;
    /* background-color: #000; */
}

.success {
    background-color: #3b2fe2;
}

.error {
    background-color: rgb(92, 202, 129);
    border-radius: 5px;
}

.toast-timer {
    background-color: rgb(228, 12, 12);
    /* width: 100%; */
    height: 0.1rem;
    animation: toast-slider 3s linear;
    padding: 0;
}

@keyframes toast-slider {

    0%,
    50%,
    90% {
        scale: 1;
        opacity: 1
    }

    25%,
    75%,
    100% {
        scale: 0;
        opacity: 0
    }
}